html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #87cefa;
  background-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  padding: 20px;
  margin-top: 60px;
}

.formimage {
  width: 300px;
}

.formimage img {
  max-height: 100%;
  max-width: 100%;
}

.content-eventlistimage img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  float: left;
  padding-right: 20px;
}

.trythis {
  height: auto;
  overflow: auto;
}

.content-eventlist img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  float: left;
  padding-right: 20px;
  overflow: auto;
}

.content-eventlist {
  height: auto;
  overflow: auto;
}

.event-summary .card-content {
  height: auto;
  overflow: auto;
}

.event-details {
  height: auto;
  overflow: auto;
}

.content-eventdetails {
  height: auto;
  overflow: auto;
}

.event-details img {
  display: block;
  max-width: 300px;
  max-height: 300px;
  float: left;
  width: auto;
  height: auto;
  padding-right: 20px;
}

form button,
form h5 {
  margin: 20px 0;
}
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #f06edd;
  box-shadow: none;
}
